*{
    border: 12px;;
    padding:0;
    margin:0;
}

h1{
    position: absolute;
    left: 540px;
    font-style: normal;
    font-size: 50px;
    font-weight: 700;

}

canvas{
    position: absolute;
    top: 50px;
    left:200px;
    border: 1px solid gray;
    background-color: white;
}

#controls{
    position: absolute;
    top:100px;
    left:5px;
    padding:20px;
    border: 1px solid gray;
    background-color: rgb(8, 230, 45);
    border-radius: 10px;
    box-shadow: 2px 2px 12px lightskyblue;
}

.lightBorder {
    border: 3px solid rgb(19, 192, 155);
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    padding: 6px;
}

body{
    background-image: url('maxresdefault.jpg');
    background-size: cover;
}

