html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }

  #container{
background-color: chocolate;
border: 5px solid wheat;
height: 275px;
width: 750px;
margin: auto;
text-align: center;
}
