body{
    background-color: black;

}
#container{
    background-color: chocolate;
    border: 5px solid wheat;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

p{
    color: thistle;
    font-size: 24px;
}

#input{
    width: 100px;
    margin: 25%;
}

#btn{
    margin: 25px auto auto 5px;
}